{% extends "base" %} {% block content %}

	<div class="form-container sign-in-container overlay">
		<form action="#">
			<h1>Sign in</h1>
			<div class="social-container">
				<a href={{url}} class="social">
				    <i class="fa-brands fa-spotify" style="font-size:65px;"></i>
				</a>
			</div>
		</form>
	</div>

{% endblock content %}